<h4>Hello {{ user.firstName }}</h4>
<p>Your borrowing of the book {{ borrowing.bookVersion.book.name }} expires on {{ borrowing.returnDate | date('d-m-Y') }}.</p>
<p>Please return it to your library to avoid late payment penalties.</p>
