<h4>Hello {{ user.firstName }}</h4>
<p>The book you have reserved {{ reservation.bookVersion.book.name }} is available to borrow !</p>
<a href="https://localhost/borrowing/new/{{ reservation.bookVersion.id }}">Click here to borrow</a>
