<h4>Hello $user->getuserFirstName() .'</h4>
<p>The book you have reserved (' . $bookVersion->getBook()->getName() . ') is available to borrow !</p>
<a href="https://localhost/borrowing/new/'. $bookVersion->getId() .'">Click here to borrow</a>
