{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <twig:Button type="back" path="{{ path('app_user_show_profile', {id: app.user.id}) }}"/>

    {{ include('user/_delete_profile_form.html.twig') }}
{% endblock %}
